@font-face {
    font-family: main;
    src: url(./Kajiro\ Bold.woff2);
}
@font-face {
    font-family: light;
    src: url(./Gilroy-Medium.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: main;
}
#wrapper{
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.back{
    height: 100vh;
    width: 100%;
}
.back img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main {
    height: 100vh;
    width: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav {
    height: 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo {
    height: 4vw;
    width: 9vw;
}

.logo img {
    height: 100%;
    width: 100%;
}

.nav-left a {
    pointer-events: all;
    font-family: light;
    font-size: 15px;
    color: #FFFAFB;
    text-decoration: none;
    font-weight: 600;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-right a {
    font-family: light;
    font-size: 15px;
    color: #FFFAFB;
    text-decoration: none;
    font-weight: 600;
    pointer-events: all;
}

.container{
    height: calc(100vh - 5vw);
    display: flex;
    padding: 1vw 10vw;
    justify-content: space-between;
    align-items: center;
}
.cont-left{
    height: 95%;
    width: 45%;
    text-align: left;
    padding: 4vw 0;
}
.cont-left .elem{
    height: 7vw;
    overflow: hidden;
    position: relative;
}
.cont-left .elem h1:nth-child(1){
    top: 0;
}
.cont-left .elem h1{
    font-size: 8vw;
    position: absolute;
    top: 100%;
    left: 0;
    color: #FFF6F4;
    letter-spacing: 1px;
    font-weight: 200;
    line-height: 8vw;
}
.cont-left button{
    height: 4vw;
    width: 14vw;
    margin-top: 5vw;
    font-family: main;
    color: rgba(0, 0, 0, 0.918);
    background-color: #FFF6F4;
    border: none;
    font-size: 2.5vw;
    font-weight: 400;
    padding-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

.cont-right{
    height: 95%;
    width: 45%;
    text-align: right;
    display: flex;
    padding: 4vw 0;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}
.cont-right p{
    font-size: 0.65vw;
    font-family: light;
    font-weight: 100;
    color: #FFF6F4;
    margin: 0.5vw 0;
    line-height: 1vw;
    width: 45%;
}
.cont-right .mid-para{
    margin-top: 1.8vw;
    margin-bottom: 6vw;
}
.cont-img{
    height: 11vw;
    width: 50%;
}
.cont-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;  
}